<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>729917333165-v348elu4ujd00gu23p0cbohvqae6avkg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729917333165-v348elu4ujd00gu23p0cbohvqae6avkg</string>
	<key>API_KEY</key>
	<string>AIzaSyCnrp9uAHnKCCNSOyGlHeyvkyIuTfEz9iY</string>
	<key>GCM_SENDER_ID</key>
	<string>729917333165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eventBooking</string>
	<key>PROJECT_ID</key>
	<string>event-booking-bae05</string>
	<key>STORAGE_BUCKET</key>
	<string>event-booking-bae05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729917333165:ios:e6fe6a4c8159e60bd4f024</string>
</dict>
</plist>